@charset "UTF-8";
/*
Theme Name: Gateway
Theme URI: https://rescuethemes.com/wordpress-themes/gateway
Author: Rescue Themes
Author URI: https://rescuethemes.com
Description: Gateway incorporates elegant style with user friendly customizer options making it perfectly suited for a variety of WordPress users. Further instructions within the readme.txt file.
Version: 1.3.6
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: gateway
Tags: three-columns, featured-images, theme-options, custom-colors, threaded-comments, translation-ready, right-sidebar, full-width-template, sticky-post, custom-header, custom-background

Gateway WordPress Theme, Copyright 2015 Rescue Themes
Gateway is distributed under the terms of the GNU GPL

Gateway is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

1.0 Defaults
2.0 Alignments
3.0 Accessibility
4.0 Inifinite Scroll
5.0 Media
6.0 Header
	6.1 Navigation
7.0 Home
	7.1 Home Hero
	7.2 Home Posts
	7.3 Home Content
8.0 Forms
9.0 Content
	9.1 Posts
	9.2 Blog Page
	9.3 404 Page
	9.4 Archive Page
	9.5 Full Width
	9.6 Contact Page
10.0 Comments
11.0 Widgets
12.0 Footer

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Defaults
--------------------------------------------------------------*/
a {
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

abbr, acronym {
  cursor: pointer; }

blockquote {
  background-color: #FAFAFA;
  border-left: 8px solid #e8554e;
  padding: 1.5625rem 1.25rem 0.35rem 1.1875rem; }
  blockquote cite {
    margin-top: 1em; }

button, .button {
  font-style: italic; }

.vcard {
  border: none;
  margin: 0 0;
  padding: 0 0; }

pre {
  background-color: #efefef;
  line-height: 2;
  padding: 2em; }

/*--------------------------------------------------------------
2.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
3.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */ }

/*--------------------------------------------------------------
4.0 Inifinite Scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

#infinite-footer .container {
  padding: 20px !important; }
#infinite-footer .blog-info a {
  font-size: 1.325rem !important;
  color: #666666 !important;
  font-weight: normal !important; }
  #infinite-footer .blog-info a:before {
    font-family: 'FontAwesome';
    content: "";
    margin: 0 15px 0 -15px;
    margin: 0 10px 0 0; }
  #infinite-footer .blog-info a:hover {
    text-decoration: none !important;
    color: #e8554e !important; }

/*--------------------------------------------------------------
5.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.gallery {
  margin: 2.5em 0;
  float: left; }

.gallery figure {
  margin: 0 0; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
6.0 Header
--------------------------------------------------------------*/
.bg-image-header .site-branding, .home-header-bg .site-branding {
  padding: 2.188em 0;
  text-align: center;
  display: block;
  margin: 0 auto; }
  .bg-image-header .site-branding h1 a, .home-header-bg .site-branding h1 a {
    color: #FFFFFF; }
  .bg-image-header .site-branding h2, .home-header-bg .site-branding h2 {
    font-size: 1em;
    color: #FFFFFF; }

.site-header hr {
  margin: 0 0; }

.bg-image {
  height: 210px;
  width: 100%; }

/*--------------------------------------------------------------
6.1 Navigation
--------------------------------------------------------------*/
nav.top-bar {
  text-align: center; }
  @media only screen and (min-width: 64.063em) {
    nav.top-bar {
      height: 100%; } }
  @media only screen and (min-width: 40.063em) {
    nav.top-bar {
      height: 100%; } }
  @media only screen and (max-width: 40em) {
    nav.top-bar {
      text-align: left; } }
  nav.top-bar ul.title-area li.menu-icon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  nav.top-bar .dropdown {
    background: #FFFFFF;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD; }
    @media only screen and (max-width: 40em) {
      nav.top-bar .dropdown {
        border-left: none; } }
    @media only screen and (max-width: 40em) {
      nav.top-bar .dropdown {
        border-right: none; } }
    @media only screen and (max-width: 40em) {
      nav.top-bar .dropdown {
        border-bottom: none; } }
  nav.top-bar .sub-menu {
    border-top: 1px solid #DDDDDD; }
    @media only screen and (max-width: 40em) {
      nav.top-bar .sub-menu {
        border-top: none; } }
    nav.top-bar .sub-menu li:nth-of-type(3) ul.sub-menu {
      border-top: none; }

.top-bar-section {
  position: relative;
  top: 0.75em; }
  .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    line-height: 45px; }

section.top-bar-section {
  display: inline-block; }
  @media only screen and (max-width: 40em) {
    section.top-bar-section {
      display: block; } }
  section.top-bar-section ul li > a {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.06em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  section.top-bar-section .dropdown li.title h5 a {
    color: #888888;
    font-weight: bold; }

/*--------------------------------------------------------------
7.0 Home
--------------------------------------------------------------*/
.header-bg {
  background-color: #e8554e; }

/*--------------------------------------------------------------
7.1 Home Hero
--------------------------------------------------------------*/
.hero-widgets-wrap {
  text-align: center;
  color: #FFFFFF;
  margin: 5em 0; }
  @media only screen and (max-width: 40em) {
    .hero-widgets-wrap {
      margin: 1em 0; } }
  .hero-widgets-wrap h1.widget-title {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 3.375rem;
    margin-bottom: 0.5rem; }
  .hero-widgets-wrap p {
    margin: 5em 0; }
    @media only screen and (max-width: 40em) {
      .hero-widgets-wrap p {
        margin: 2.5em 0 3.5em 0; } }
  .hero-widgets-wrap .button {
    margin: 5em 0 0 0; }
    @media only screen and (max-width: 40em) {
      .hero-widgets-wrap .button {
        margin: 0 0 0 0; } }

/*--------------------------------------------------------------
7.2 Home Posts
--------------------------------------------------------------*/
.home_posts_titles {
  text-align: center;
  margin-bottom: 6em; }
  .home_posts_titles h2 {
    font-size: 2.625rem;
    font-weight: normal; }
  .home_posts_titles h3 {
    font-size: 1rem;
    color: #888888;
    font-weight: normal;
    width: 35%;
    display: block;
    margin: 0 auto; }
    @media only screen and (max-width: 40em) {
      .home_posts_titles h3 {
        width: 100%; } }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      .home_posts_titles h3 {
        width: 100%; } }

.page-template-template-home-php .site-content hr {
  margin: 8em 0; }

.page-template-template-home-php .featured-posts article.hentry {
  margin: 0 0; }
  @media only screen and (max-width: 40em) {
    .page-template-template-home-php .featured-posts article.hentry {
      margin-bottom: 3em; } }
.page-template-template-home-php .featured-posts h3.entry-title {
  font-size: 1.375rem; }

/*--------------------------------------------------------------
7.3 Home Content
--------------------------------------------------------------*/
.home-content .home-content-right {
  text-align: center;
  padding-top: 1em; }
  .home-content .home-content-right h3 {
    margin-bottom: 1em; }
  .home-content .home-content-right p {
    margin-bottom: 3em; }
  .home-content .home-content-right .button {
    text-align: center; }

/*--------------------------------------------------------------
8.0 Forms
--------------------------------------------------------------*/
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  background-color: #EEEEEE;
  border: none;
  box-shadow: none;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 3px;
  border-radius: 3px; }

html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #e8554e;
  color: #FFFFFF;
  padding: 0.35em 1.5em;
  border: none;
  font-size: 16px;
  font-style: italic;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #555555; }

/*--------------------------------------------------------------
9.0 Content
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.site-content {
  margin-top: 4.5em; }

/*--------------------------------------------------------------
9.1 Posts
--------------------------------------------------------------*/
article.hentry {
  margin: 0 0 8em 0; }
article.sticky {
  padding: 4em;
  background-color: #f7fbff;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 3px;
  border-radius: 3px; }
article h1 a, article h2 a, article h3 a, article h4 a, article h5 a {
  color: #666666; }
article h1 {
  font-size: 1.6875rem; }
article hr {
  margin: 2.25rem 0 2.1875rem; }
article .featured-image img {
  width: 356px;
  float: left;
  border: 1px solid #EFEFEF;
  margin-right: 1.875rem;
  margin-bottom: 1.875rem;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  article .featured-image img:hover {
    opacity: 0.8; }
  @media only screen and (max-width: 40em) {
    article .featured-image img {
      width: 100%; } }
article .entry-header {
  margin-bottom: 2.75em; }
  @media only screen and (max-width: 40em) {
    article .entry-header {
      text-align: center; } }
article .entry-content:after {
  clear: none; }
article .entry-content li {
  margin-bottom: 1em; }
article .entry-footer {
  margin: 1em 0; }
  article .entry-footer .left {
    background-color: #efefef;
    padding: 0.2em 2em;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    article .entry-footer .left i {
      color: #d5d5d5;
      padding: 0.25em 0.25em;
      -o-transition: 0.2s;
      -ms-transition: 0.2s;
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      article .entry-footer .left i:hover {
        color: #e8554e; }
  article .entry-footer .right {
    color: #d5d5d5; }
  article .entry-footer .cat-links, article .entry-footer .tags-links {
    margin-right: 1em; }
article table td, article table tr th {
  padding: 1.5em; }
  @media only screen and (max-width: 40em) {
    article table td, article table tr th {
      padding: 0.5em; } }
article table tr th, article table tr td {
  font-size: 1.1rem;
  font-weight: normal; }
article table tr th {
  color: #555555;
  font-weight: bold; }
article table tr td {
  color: #777777; }
article table .even {
  background-color: #ffffff; }

/* Post Nav Links */
.nav-links .nav-previous {
  float: left; }
.nav-links .nav-next {
  float: right; }

/* Single */
.single article {
  margin: 0 0 4em 0; }
  .single article .author.vcard .fn {
    font-weight: normal; }
  .single article .entry-footer {
    margin-top: 3em; }
    .single article .entry-footer .right {
      padding: 0.5em 0;
      color: #666666; }

.post-navigation {
  margin: 0 0 3em 0; }

/*--------------------------------------------------------------
9.2 Blog Page
--------------------------------------------------------------*/
.more-link {
  font-style: italic;
  display: inline-block; }

.blog_page_titles {
  text-align: center;
  margin-bottom: 6em; }
  .blog_page_titles h2 {
    font-size: 2.625rem;
    font-weight: normal; }
  .blog_page_titles h3 {
    font-size: 1rem;
    color: #888888;
    font-weight: normal;
    width: 35%;
    display: block;
    margin: 0 auto; }
    @media only screen and (max-width: 40em) {
      .blog_page_titles h3 {
        width: 100%; } }
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      .blog_page_titles h3 {
        width: 100%; } }

/*--------------------------------------------------------------
9.3 404 Page
--------------------------------------------------------------*/
.error-404 header, .error-404 .page-content p {
  text-align: center; }
.error-404 .search-form {
  margin-top: 5em; }
.error-404 .large-3 {
  margin-top: 5em; }
  .error-404 .large-3 h2 {
    font-size: 1.1em; }

/*--------------------------------------------------------------
9.4 Archive Page
--------------------------------------------------------------*/
.search .page-header, .archive .page-header {
  margin: 0 0 5em 0; }

/*--------------------------------------------------------------
9.5 Full Width
--------------------------------------------------------------*/
.page-template-template-full-php h2 {
  text-align: center;
  margin-bottom: 2em; }

/*--------------------------------------------------------------
9.6 Contact Page
--------------------------------------------------------------*/
.contact-form label {
  margin: 1.5em 0 0.25em 0 !important;
  font-size: 1.125rem;
  color: #666666; }
.contact-form input[type="text"], .contact-form input[type="email"] {
  width: 500px !important;
  height: 4em; }
.contact-form textarea {
  height: 20em !important;
  width: 100% !important;
  margin-bottom: 2em !important; }

/*--------------------------------------------------------------
10.0 Comments
--------------------------------------------------------------*/
.comments-area h4.comments-title {
  margin: 2em 0; }
.comments-area ol {
  list-style: none;
  margin-left: 0; }
  .comments-area ol .children {
    margin-left: 80px; }

.comment {
  margin-top: 40px; }
  .comment img.avatar {
    display: block;
    float: left;
    height: 60px;
    margin: 0 20px 0 0;
    width: 60px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .comment .comment-content {
    background-color: #F6F6F6;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 5rem;
    padding: 2.5rem; }
  .comment .comment-meta-header cite {
    margin-right: 1em;
    font-weight: bold;
    color: #555555; }
  .comment .comment-meta-header .comment-meta {
    font-size: 0.875rem; }
  .comment .comment-meta-header .comment-reply-link {
    float: right;
    font-size: 1rem;
    font-style: italic; }

.comment-respond {
  margin: 3em 0; }
  .comment-respond h3.comment-reply-title {
    font-size: 1.25rem; }
  .comment-respond .comment-form-comment label {
    display: none; }
  .comment-respond .logged-in-as {
    font-size: 0.875rem; }
  .comment-respond textarea {
    background-color: #F6F6F6; }
  .comment-respond #cancel-comment-reply-link {
    float: right;
    position: relative;
    top: 2.5em;
    font-style: italic;
    font-weight: normal; }

/*--------------------------------------------------------------
11.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets */ }
  .widget select {
    max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

.widget-area aside {
  margin-bottom: 4.5em; }

h1.widget-title, h3.widget-title {
  font-size: 1rem;
  margin-bottom: 2em; }

/* Search Widget */
.search-form input[type="search"] {
  height: 2.8125rem; }

footer .search-form input[type="search"] {
  background-color: #464646; }

/* Archive, Categories, pages, Meta, Comments, Posts Widget */
.widget_archive ul, .widget_categories ul, .widget_pages ul, .widget_meta ul, .widget_recent_comments ul, .widget_recent_entries ul {
  color: #bebebe;
  list-style: none; }
.widget_archive li:before, .widget_categories li:before, .widget_pages li:before, .widget_meta li:before, .widget_recent_comments li:before, .widget_recent_entries li:before {
  font-family: 'FontAwesome';
  content: "";
  margin: 0 15px 0 -15px; }

/* RSS Widget */
.widget_rss ul {
  list-style: none;
  margin-left: 0; }
.widget_rss li {
  margin-bottom: 2em; }
.widget_rss .rssSummary {
  margin: 2em 0; }

/* Tags Widget */
.widget_tag_cloud {
  content: "";
  display: table; }
  .widget_tag_cloud a {
    background-color: #e8554e;
    color: #FFFFFF;
    padding: 0.35em 1.5em;
    float: left;
    margin-right: 0.35em;
    margin-bottom: 0.35em;
    font-size: 16px !important;
    font-style: italic;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .widget_tag_cloud a:hover {
      background-color: #555555; }

/* Recent Entries Widget  */
.widget_recent_entries .post-date {
  font-style: italic;
  display: block;
  margin-left: 15px; }

/* Calendar Widget */
.widget_calendar table caption {
  margin-bottom: 0.75em;
  font-size: 1.2em;
  color: #555555; }
.widget_calendar table td, .widget_calendar table tr th {
  padding-top: 1em;
  padding-bottom: 1em; }
.widget_calendar table tr th, .widget_calendar table tr td {
  font-size: 1.1rem;
  font-weight: normal; }
.widget_calendar table tr th {
  color: #555555; }
.widget_calendar table tr td {
  color: #777777; }

/* Footer Font Awesome Icons */
footer .textwidget a i {
  color: #FFFFFF;
  padding-left: 0.5em;
  font-size: 1.25rem; }
footer .textwidget a:hover i {
  color: #e8554e; }

/*--------------------------------------------------------------
12.0 Footer
--------------------------------------------------------------*/
.footer-wrap {
  background-color: #303030;
  margin-top: 8em; }

footer {
  margin: 4em 0 0 0;
  font-size: 1rem; }
  footer p, footer a {
    font-size: 1rem; }
  footer .large-4 {
    margin-top: 6em;
    margin-bottom: 6em; }
    @media only screen and (max-width: 40em) {
      footer .large-4 {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 0; } }
  footer .site-info {
    color: #555555;
    font-size: 1rem;
    font-style: italic; }
    @media only screen and (max-width: 40em) {
      footer .site-info {
        text-align: center; } }
  footer .widget {
    margin-bottom: 3em; }
    footer .widget li {
      margin-bottom: 0.75em; }
  footer .widget-title {
    color: #FFFFFF; }